.wrap {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.padding-wrap {
  padding: 9px 20px 16px 20px;
}

.alert-header {
  background: rgba(255, 166, 41, 0.3);
  border: 1px solid #FFA629;
  border-radius: 4px;
  padding: 8px 10px;
}

.blog {
  margin-top: 8px;
  margin-bottom: 8px;
}


.emptyText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.contributed {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 24px;
  margin-top: 32px;
}


.headingTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.stickyCounter {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.userAvatar {
  width: 8px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  margin-left: 8px;
  border-radius: 2px;
}

.userName {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.hoverAnim:hover {
  background-color: #F5F5F5;
  transition: 0.2s all;
}

.footBtn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
  color: black !important;
}

.resetBtn {
  color: black !important;
  border-color: black !important;
}